@use './adaptive' as *
// ------------ FORM ------------ 
.form
    display: flex
    flex-direction: column
    gap: 4px
    background-color: #F2F2F7
    background-color: #EEEEEE
    padding: 4px
    border-radius: 6px
    .message
        // color: var(--main-highlight)
        text-transform: uppercase
        display: flex
        flex-direction: column
        margin: 10px 0
        text-align: center
        color: var(--main-highlight)
        span
            padding: 4px 0
            color: var(--gray-text)

// ------------ INPUT, TEXTAREA ------------ 
.input-wrapper, .textarea-wrapper
    position: relative
    overflow-x: hidden
    overflow-y: auto
    padding-top: 10px
    background-color: #fff
    z-index: 1
    border-radius: 4px
    .input, .textarea
        display: block
        width: 100% !important
        height: 100% !important
        color: #000
        border: none
        padding: 10px 16px
        padding-right: 0
        background-color: rgba(0,0,0,0)
        font-size: 15px
        &::placeholder
            color: var(--gray-text)
            opacity: 1
            font-size: inherit
    label
        position: absolute
        left: 16px
        width: 100%
        height: 100%
        pointer-events: none

    .content-name
        position: absolute
        bottom: 0px
        left: 0px
        padding-bottom: 3px
        transition: all 0.3s ease
        font-size: 0.8125rem
        text-transform: uppercase
        font-weight: 400
        color: var(--gray-text)
    .input:focus:not(.file-input:focus) + .label-name .content-name, .valid-input
        transform: translateY(-100%) !important
        font-size: 10px
        left: 0px
        
    .icon
        display: block
        position: absolute
        right: 14px
        bottom: 18px
        z-index: -1
        width: 18px
        height: 18px
    .error-icon
        mask: url(@/assets/images/icons/attention.svg) no-repeat center
        background-color: var(--error-color)
        mask-size: contain
.input-wrapper
    label
        bottom: 13px
.textarea-wrapper
    padding-top: 14px
    height: 180px
    label
        bottom: 0
        letter-spacing: -2%
        font-size: 14px
        transform: translateY(calc( -100% + 37px))
    textarea
        margin: 0
// .multiselect
//     padding: 0
//     background-color: var(--bg-color)
//     .multiselect__tags
//         padding: 18px 23px
//         padding-bottom: 15px
//     .multiselect__tags, .multiselect__single, .multiselect__input, .multiselect__placeholder
//         border: none
//         background-color: rgba(0,0,0,0)
//         font-size: 1rem
//         color: var(--gray-text)
//         font-weight: 400
//         opacity: 1
//         text-transform: uppercase
//         &::placeholder
//             opacity: 1
//     .multiselect__single
//         color: var(--dark-color)
//     .multiselect__select
//         position: absolute
//         top: 50%
//         transform: translateY(-50%)
//     .multiselect__option
//         &--highlight
//             background: var(--gray-text)

// ------------ CUSTOM SELECT ------------ 
.custom-select
    background-color: #fff
    padding: 16px
    border-radius: 4px
    .label
        color: var(--gray-text)
        font-size: 10px
        text-transform: uppercase
        font-weight: 400
        margin-bottom: 5px
    .selected
        font-weight: 400
        font-size: 0.8125rem
        &::after
            width: 20px
            height: 20px
            right: 16px
    .opacity
        color: var(--gray-text)
        text-transform: uppercase
    .options
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
        background-color: #fff
        z-index: 2
        .option
            padding: 10px 16px
            font-size: 0.8125rem
        

// ------------ GRIDS ------------
.grid-2
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 10px

.custom-checkbox
    padding: 12px 18px
    gap: 24px
    border-radius: 4px
    .label-text
        font-size: 0.75rem
        color: var(--gray-text)
    .checkmark
        min-height: 22px
        min-width: 22px
        max-height: 22px
        max-width: 22px
        border-radius: 4px
        background-color: var(--lightgray-bg)

.send-btn
    // background-color: var(--main-highlight)
    background-color: var(--main-dark)
    padding: 23px
    color: #fff
    font-weight: 400
    font-size: 1rem
    border: none
    font-weight: 700
    border-radius: 6px
    &:hover
        background-color: var(--main-dark-hover)


@media only screen and (min-width: $bp-tablet)
    .form
        gap: 6px
        padding: 6px
    .input-wrapper, .textarea-wrapper
        .input, .textarea
            padding: 15px 20px
            font-size: 17px
        label
            left: 20px
        .content-name
            padding-bottom: 4px
        .input:focus:not(.file-input:focus) + .label-name .content-name, .valid-input
            font-size: 12px
        .icon
            right: 20px
            bottom: 15px
    .input-wrapper
        label
            bottom: 16px
    .textarea-wrapper
        label
            bottom: 0px
            margin-left: -3px
            transform: translateY(calc( -100% + 45px))
    .custom-select
        padding: 20px
        .label
            font-size: 12px
        .selected
            font-size: 17px
        .opacity
            font-size: 0.8125rem
        .options
            .option
                padding: 12px 18px
                font-size: 0.9375rem
    .custom-checkbox
        padding: 20px 18px
        gap: 30px
        .label-text
            font-size: 0.9375rem
            color: var(--gray-text)
        .checkmark
            min-height: 25px
            min-width: 25px
            max-height: 25px
            max-width: 25px
            border-radius: 4px
            background-color: var(--lightgray-bg)
    .send-btn
        font-size: 1.125rem
    
@media only screen and (min-width: $bp-pc)
    .form
        gap: 4px
        padding: 0
    .input-wrapper, .textarea-wrapper
        .input, .textarea
            padding: 16px 18px
            font-size: 17px
        label
            left: 18px
        .content-name
            padding-bottom: 6px
            font-size: 14px
        .input:focus:not(.file-input:focus) + .label-name .content-name, .valid-input
            font-size: 14px
        .icon
            right: 18px
            bottom: 15px
    .input-wrapper
        label
            bottom: 16px
    .textarea-wrapper
        .label-name
            bottom: -5px
            margin-left: -3px
            transform: translateY(calc( -100% + 45px))
        .textarea
            padding-top: 15px
    .custom-select
        padding: 25px 18px
        .label
            font-size: 12px
            margin-bottom: 0
        .selected
            font-size: 17px
        .opacity
            font-size: 0.8125rem
        .options
            .option
                padding: 12px 18px
                font-size: 0.9375rem
    .custom-checkbox
        padding: 18px
        gap: 30px
        .label-text
            font-size: 0.9375rem
            color: var(--gray-text)
        .checkmark
            min-height: 25px
            min-width: 25px
            max-height: 25px
            max-width: 25px
            border-radius: 4px
            background-color: var(--lightgray-bg)
    .send-btn
        font-size: 1.125rem
        